@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700');

*{
	margin: 0;
	padding: 0;
}

/*===============
GENERAL
===============*/
html{
	height: 100%;
}

body{
	height: 100%;
	font-size: 14px;
	font-weight: 400; 
	color: #191919;
	line-height: 27px;
	padding-top: 30px;
	/*padding-bottom: 50px;*/
	letter-spacing: 0.5px;
	text-rendering: optimizeLegibility;
	font-family: 'Raleway', sans-serif;
}

p{
	font-weight: 400;
}

.btn{
	border-radius: 0;
	padding: 5px 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.alert-danger{
	background-color: #6c1c25;
	color: #fff;
}

section{
	padding-top: 50px;
	padding-bottom: 30px;
}

.header-btns a{
	color: #fff;
}

.header-btns a:hover{
	color: yellow;
}
/*================
LOGIN & SIGNUP PAGE
=================*/
.myform{
	color: #000;
	font-size: 120%;
}

.myform input[type="email"],
.myform input[type="text"],
.myform input[type="password"]{
	height: 40px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 400;
	line-height: 50px;
	color: #000;
	outline: none;
}

.myform input[type="text"],
.myform input[type="email"],
.myform input[type="password"],
#pwdforgotForm input[type="email"]{
	height: 40px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 300;
	line-height: 50px;
	color: #000;
	border-radius: 0px;
	outline: none;
}

.login_icon{
	text-align: center;
	padding-top: 15%;
}

.login_icon i.fa{
	font-size: 25rem;
}


/*================
HEADER SECTION
=================*/
#header{
	color: #fff;
	height: 100%;
	background-image: url("../img/forest.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.header-overlay{
	height: 100%;
	background-color: rgba(31, 31, 31, 0.45);
}
.header-text{
	margin: 0 auto;
	text-align: center;
	padding-top: 150px;
}

.header-text h1{
	font-size: 450%;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.header-text p{
	text-transform: uppercase;
	font-weight: 100;
	font-style: italic;
}

.header-btns{
	text-align: center;
}


/*=============
FOOTER
==============*/
footer{
	background-color: #ccc;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height: 50px;
}

footer p{
	color: #000;
	margin: 0;
	padding: 10px 5px;
	text-transform: uppercase;
}