<section>
	<div class="container">    
		<div class="row">
			<div class="col-md-12">
				<h1 class="main-header">Contact Us</h1>
			</div>
		</div><!--/row-->
		
		<div class="row">
			<div class="col-sm-12">
        <form action="/contact" method="post" accept-charset="utf-8" class="myform">
          <div class="row">
            <div class="col-sm-4">
              <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="Enter Full Name" name="name">
              </fieldset>
            </div><!--/col4-->

            <div class="col-sm-4">
              <fieldset class="form-group">
                <input type="email" class="form-control" placeholder="Enter Email" name="email">
              </fieldset>
            </div><!--/col4-->

            <div class="col-sm-4">
              <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="Subject" name="subject">
              </fieldset>
            </div><!--/col4-->

            <div class="col-sm-12">
              <div class="form-group">
                <textarea class="form-control" rows="5" cols="20" name="contact_msg"></textarea>
              </div>

              <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div><!--/col12-->
          </div><!--/row-->
        </form>
      </div>
		</div><!--/row-->
	</div>
</section>