<div class="container">
	<% include ../flash/errors %>
	<% include ../flash/success %>
</div>

<header id="header" class="header">
	<div class="header-overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-text">
						<h1>Welcome to NoteTaker App</h1>
						<p>An app that lets you keep track of your ideas.</p>
						<% if(!currentuser){%>
							<p><span><a href="/signup" class="btn btn-danger">SignUp</a></span>
						<%}%>
					</div>
					<div class="header-btns">
						<a href="/notes" class="btn btn-clear">View Notes
							<i class="fa fa-angle-down"></i>
						</a>
					</div>
				</div>
			</div>
		</div><!--/container-->
	</div><!--/overlay-->
</header><!-- /header -->