<% if(info && info.length > 0){%>
	<div class="row">
			<div class="alert alert-info alert-dismissable">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= info %>
			</div>
	</div><!--/row-->
<%}%>